.header{
    color:blueviolet;
    background-color: antiquewhite;
    margin:7%;
}
.div1{
    background-color: black;
    color:rgb(238, 180, 19);
    margin:7%;
}
.btn1{
    background-color: rgb(191, 191, 252);
    
}
